html, body {
    padding: 0;
    background-color: #373737;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    display: inline;
}

.content img {
    max-width: 32vw;
    max-height: 41vh;
    margin: 0.2vh 0.3vw;
}
